

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.center {
	float: none;
	margin: 0 auto;
}

#spring-position {
	color: blue;
}

#spring-velocity {
	color: red;
}

#spring-acceleration {
	color: green;
}














