
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}
sub { top: 0.4em; }

.center {
	float: none;
	margin: 0 auto;
}

#spring-position {
	color: blue;
}
.axisLabel {
	position:absolute;
	text-align:center;
	font-size:12px;
}
.yaxisLabel {
	top: 50%;
    margin-left: 2px;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform:  rotate(-90deg);
    transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.xaxisLabel {
    bottom: 2px;
    left: 0;
    right: 0;
}

#spring-velocity {
	color: red;
}

#spring-acceleration {
	color: green;
}

#canvas-wrapper {
	border: 1px solid #082783;
}

.required-label {
	color: red;
}

.const-area {
    text-align: center;
    width: 25px;
    margin: 0px 2px 0px 2px;
    padding: 2px;
}

#f-input div {
    display: inline-block;
}